
body {
 
  font-family: sans-serif;font-size: 22px;
  margin: 0;
  padding:0;
  background: linear-gradient(-45deg, #53545a, #597ab6, #80959c, #2f2f30, rgb(12, 57, 75));
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

.container{
  top:50%;
  left:50%;
  width:600px;
  padding:30px;
  box-sizing:border-box;
}

.img-circle{
  background:url(./assets1/kittyyyyy2.jpeg);
  border-radius:70%;
  float:left;
  shape-outside:circle();
  margin:30px;
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
}

.main-div{
  height:10%;
  width:40%;

}

.name{
  margin-top: 5%;
}

.display-4{
  justify-content: center;
  text-align: center;
 

} 
#lang{
  text-align: center;
  justify-content: center;
  margin-left: 60px;
}
.welcome{
  text-align: center;
  justify-content: center;
  margin-left: 80px;
}

.mainBio{
  
  margin:0 auto;
  z-index: 1000;
  height:30px;
} */

.text-center {
  text-align: center;
}

.jumbotron{
  background-color: rgb(119, 112, 112);
}
.main_bio{
  color:rgb(0, 0, 0);
  flex-wrap: wrap;
  float:left;
  margin-left:80px;
  }

.social{
  font-size:3.0em;
  padding:1.5rem;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}