
body {
  font-family: 'Bad Script';font-size: 22px;
  margin: 0;
  background: linear-gradient(-45deg, #53545a, #597ab6, #80959c, #2f2f30, rgb(59, 84, 94));
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

.picture{
  float: right;
  margin-right:50%;
  
}
.p-text{
flex-wrap: wrap;
}

.background{
  flex-wrap: wrap;
}

img{
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
}

.main-div{
  height:10%;
  width:40%;

}

.name{
margin-top: 5%;
}


.img-circle {
  border-radius: 50%;

}


.mainBio{
  text-align: center;
  margin:0 auto;
  z-index: 1000;
  height:30px;
}



.name{
  font-weight: initial;

}
.jumbotron{
  background-color: rgb(119, 112, 112);
}
.p-text{
  color:rgb(0, 0, 0);
  text-align: center;
  
}

.social{
  font-size:3.0em;
  padding:1.5rem;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}